body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}

.container {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(200, 184, 184);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15;
  text-align: center;
}

#input-tag {
  width: 60%;
  margin-right: 10px;
  border: none;
  padding: 10px;
}

#button-tag {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: antiquewhite;
  margin-top: 5px;
}
#delete-btn {
  color: red;
  cursor: pointer;
}
